<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leejordan.minecraftboardgame">

    <application
        android:allowBackup="true"
        android:icon="@drawable/square_icon"
        android:isGame="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/round_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DragonActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".WinActivity" android:screenOrientation="portrait" />
        <activity android:name=".LoseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EndermanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiamondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>